#container {
    width: 400px;
    margin: auto;
    border: solid darkblue;
    border-radius: 20px;
    position: relative;

    box-sizing: border-box;
    padding: 5px;
}

/* --- Top logo --- */
#logo {
    /* Centering content (horizontally)*/
    text-align: center;

    /* Border  */
    border-bottom: solid thin darkblue;

    /* Sizing */
    height: 200px;
}

#logo img {
    width: 50%;

    /* Positioning (vertical centering)*/
    position: relative;
    top: 50%;
    translate: 0 -50%;
}

/* --- Profile picture --- */
#profilePic {
    /* Border  */
    border: solid thin darkblue;
    border-radius: 50%;

    /* Sizing */
    width: 25%;

    /* Positioning */
    position: absolute;
    top: 200px;
    left: 70%;
    translate: 0 -50%;
}

/* --- Header area --- */
#header h3 {
    font-weight: normal;
}

/* --- Contact area --- */
.info {
    display: flex;
    align-items: center;

    border: solid darkblue;
    border-radius: 15px / 50%;

    padding: 5px;
    margin-bottom: 10px;

    background-color: white;
    transition: scale 0.25s
}

.info-logo {
    margin-right: 5px
}

.info:hover {
    scale: 110%;
    color: white;
    background-color: darkblue;
}